@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
.herosection_wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 1360px) {
  .herosection_wrapper {
    max-width: 960px;
  }
}
@media screen and (max-width: 975px) {
  .herosection_wrapper {
    max-width: 600px;
  }
}
@media screen and (max-width: 500px) {
  .herosection_wrapper {
    max-width: 280px;
  }
}

.newsletter_wrapper {
  max-width: 710px;
  margin: 0 auto;
}
@media screen and (max-width: 710px) {
  .newsletter_wrapper {
    max-width: 300px;
  }
}

.wrapper {
  max-width: 1166px;
  margin: 0 auto;
}
@media screen and (max-width: 1340px) {
  .wrapper {
    max-width: 1062px;
  }
}
@media screen and (max-width: 960px) {
  .wrapper {
    max-width: 600px;
  }
}
@media screen and (max-width: 500px) {
  .wrapper {
    max-width: 280px;
  }
}

header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 38px 50px;
  font-size: 0;
  text-align: center;
  transition: background-color 0.3s linear, padding 0.3s linear;
  -webkit-transition: background-color 0.3s linear, padding 0.3s linear;
  -ms-transition: background-color 0.3s linear, padding 0.3s linear;
  -moz-transition: background-color 0.3s linear, padding 0.3s linear;
  -o-transition: background-color 0.3s linear, padding 0.3s linear;
}
header .menu_bar {
  display: none;
  float: right;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 30px;
  font-size: 14px;
  color: #fff;
}
header .logo {
  width: 194px;
  height: 35px;
  float: left;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  -webkit-background-size: 194px 35px;
  -ms-background-size: 194px 35px;
  -moz-background-size: 194px 35px;
  -o-background-size: 194px 35px;
  background-size: 194px 35px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  header .logo {
    background-image: url("../images/logo@2x.png");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3), screen and (min--moz-device-pixel-ratio: 3), screen and (-moz-min-device-pixel-ratio: 3), screen and (-o-min-device-pixel-ratio: 3/1), screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  header .logo {
    background-image: url("../images/logo@3x.png");
  }
}
header nav {
  display: inline-block;
  font-size: 0;
  margin: 10px 0;
  position: relative;
}
header nav .active_border {
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  transition: transform 0.4s linear;
  -webkit-transition: transform 0.4s linear;
  -ms-transition: transform 0.4s linear;
  -moz-transition: transform 0.4s linear;
  -o-transition: transform 0.4s linear;
}
header nav a {
  display: inline-block;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  margin-right: 44px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
header nav a:last-child {
  margin-right: 0;
}
header nav a:hover {
  color: #000;
}
header nav a.active:hover {
  color: #fff;
}
header div {
  float: right;
  margin: 10px 0 0;
}
header div a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  width: 18px;
  height: 18px;
  margin-right: 30px;
}
header div a:last-child {
  margin-right: 0;
}
header div a:hover {
  color: #000;
}
header.bg-change {
  background-color: #019cc1;
  padding: 20px 40px;
}
@media screen and (max-width: 1000px) {
  header .menu_bar {
    display: inline-block;
  }
  header nav {
    display: none;
  }
  header nav .active_border {
    display: none;
  }
  header div {
    display: none;
  }
  header.nav_open {
    background-color: #019cc1;
  }
  header.nav_open span:before {
    content: "";
  }
  header.nav_open nav {
    margin: 50px;
    display: block;
    text-align: center;
  }
  header.nav_open nav a {
    display: block;
    margin: 25px 10px;
  }
  header.nav_open div {
    display: block;
    float: none;
  }
}
@media screen and (max-width: 350px) {
  header {
    padding: 20px;
  }
}

section.hero_section {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 0 0;
  -ms-background-size: 0 0;
  -moz-background-size: 0 0;
  -o-background-size: 0 0;
  background-size: 0 0;
  background-size: cover;
  background-position: right;
  height: 1095px;
  position: relative;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  section.hero_section {
    background-image: url("../images/background@2x.jpg");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3), screen and (min--moz-device-pixel-ratio: 3), screen and (-moz-min-device-pixel-ratio: 3), screen and (-o-min-device-pixel-ratio: 3/1), screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  section.hero_section {
    background-image: url("../images/background@3x.jpg");
  }
}
@media screen and (max-width: 960px) {
  section.hero_section {
    background-image: linear-gradient(to right, #21b0c8, #007cb0);
  }
}
section.hero_section div.video_section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100%;
}
section.hero_section div.video_section video {
  object-fit: cover;
  width: 100vw;
  height: inherit;
}
section.hero_section div.herosection_wrapper {
  padding: 333px 0 95px;
  position: relative;
  z-index: 2;
}
section.hero_section div.herosection_wrapper div.herosection_container {
  color: #fff;
  margin-bottom: 214px;
}
section.hero_section div.herosection_wrapper div.herosection_container h1 {
  font-size: 80px;
  max-width: 894px;
  margin-bottom: 34px;
  text-shadow: 2px 2px 10px #425154;
  -webkit-text-shadow: 2px 2px 10px #425154;
  -ms-text-shadow: 2px 2px 10px #425154;
  -moz-text-shadow: 2px 2px 10px #425154;
  -o-text-shadow: 2px 2px 10px #425154;
}
section.hero_section div.herosection_wrapper div.herosection_container h4 {
  display: inline-block;
  font-size: 22px;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  margin-bottom: 44px;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px #425154;
  -webkit-text-shadow: 2px 2px 10px #425154;
  -ms-text-shadow: 2px 2px 10px #425154;
  -moz-text-shadow: 2px 2px 10px #425154;
  -o-text-shadow: 2px 2px 10px #425154;
}
section.hero_section div.herosection_wrapper div.herosection_container h4:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
section.hero_section div.herosection_wrapper div.herosection_container a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 16px;
  font-size: 38px;
  text-shadow: 2px 2px 10px #425154;
  -webkit-text-shadow: 2px 2px 10px #425154;
  -ms-text-shadow: 2px 2px 10px #425154;
  -moz-text-shadow: 2px 2px 10px #425154;
  -o-text-shadow: 2px 2px 10px #425154;
  transition: text-shadow 0.3s linear;
  -webkit-transition: text-shadow 0.3s linear;
  -ms-transition: text-shadow 0.3s linear;
  -moz-transition: text-shadow 0.3s linear;
  -o-transition: text-shadow 0.3s linear;
}
section.hero_section div.herosection_wrapper div.herosection_container a:hover {
  text-shadow: 2px 2px 10px #000;
  -webkit-text-shadow: 2px 2px 10px #000;
  -ms-text-shadow: 2px 2px 10px #000;
  -moz-text-shadow: 2px 2px 10px #000;
  -o-text-shadow: 2px 2px 10px #000;
}
section.hero_section div.herosection_wrapper div.donate_div {
  display: inline-block;
  background-color: #fff;
  font-size: 0;
  max-width: 1280px;
  padding: 0 10px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}
section.hero_section div.herosection_wrapper div.donate_div div.div_container {
  display: inline-block;
  margin: 37px 40px;
  font-size: 22px;
  color: #3e4c5b;
  font-weight: 600;
}
section.hero_section div.herosection_wrapper div.donate_div div.timeperiod_container {
  padding: 24px 20px 44px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 200px;
}
section.hero_section div.herosection_wrapper div.donate_div div.timeperiod_container h6 {
  display: block;
}
section.hero_section div.herosection_wrapper div.donate_div div.timeperiod_container h6:after {
  content: "";
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 600;
  float: right;
  margin-top: 4px;
  cursor: pointer;
  margin-left: 10px;
}
section.hero_section div.herosection_wrapper div.donate_div div.timeperiod_container p {
  display: inline-block;
  margin-top: 8px;
}
section.hero_section div.herosection_wrapper div.donate_div p {
  font-size: 22px;
  color: #3e4c5b;
  font-weight: 600;
  display: inline-block;
}
section.hero_section div.herosection_wrapper div.donate_div h6 {
  color: #dfe4e8;
  font-size: 14px;
}
section.hero_section div.herosection_wrapper div.donate_div button {
  width: 300px;
  height: 100px;
  font-size: 22px;
  font-weight: 600;
  float: right;
  margin: 10px 0;
}
section.hero_section div.herosection_wrapper div.donate_div div.amount_div {
  padding: 24px 10px 42px;
  width: 270px;
  height: 120px;
  display: inline-block;
  border-right: 1px solid #dfe4e8;
  border-left: 1px solid #dfe4e8;
  position: relative;
}
section.hero_section div.herosection_wrapper div.donate_div div.amount_div p {
  margin-top: 8px;
  text-align: center;
}
section.hero_section div.herosection_wrapper div.donate_div div.amount_div h6:after {
  content: "";
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 600;
  float: right;
  margin-top: 4px;
  cursor: pointer;
  margin-left: 10px;
}
@media screen and (max-width: 1350px) {
  section.hero_section div.herosection_wrapper div.donate_div {
    max-width: 960px;
  }
  section.hero_section div.herosection_wrapper div.donate_div div.div_container {
    margin: 0;
  }
  section.hero_section div.herosection_wrapper div.donate_div button.btn {
    width: 120px;
    float: none;
    font-size: 14px;
    height: 70px;
    vertical-align: top;
    margin: 23px 0 0;
  }
}
@media screen and (max-width: 1000px) {
  section.hero_section div.herosection_wrapper {
    text-align: center;
  }
  section.hero_section div.herosection_wrapper div.herosection_container h1 {
    font-size: 50px;
  }
  section.hero_section div.herosection_wrapper div.donate_div {
    max-width: 600px;
  }
  section.hero_section div.herosection_wrapper div.donate_div div.div_container {
    font-size: 16px;
    vertical-align: top;
    margin-top: 40px;
  }
  section.hero_section div.herosection_wrapper div.donate_div div.amount_div {
    width: 100px;
    padding: 24px 5px;
    height: 100px;
  }
  section.hero_section div.herosection_wrapper div.donate_div div.timeperiod_container {
    width: 100px;
    padding: 24px 10px;
  }
  section.hero_section div.herosection_wrapper div.donate_div p {
    font-size: 14px;
  }
  section.hero_section div.herosection_wrapper div.donate_div button.btn {
    margin: 15px 0 0;
  }
}
@media screen and (max-width: 600px) {
  section.hero_section {
    height: 900px;
  }
  section.hero_section div.herosection_wrapper {
    padding: 150px 0 70px;
  }
  section.hero_section div.herosection_wrapper div.herosection_container {
    margin-bottom: 80px;
  }
  section.hero_section div.herosection_wrapper div.herosection_container h1 {
    font-size: 30px;
    padding: 0 20px;
  }
  section.hero_section div.herosection_wrapper div.donate_div {
    padding: 20px 0;
    max-width: 280px;
  }
  section.hero_section div.herosection_wrapper div.donate_div div.div_container {
    display: block;
    padding: 10px;
    margin-top: 0;
  }
  section.hero_section div.herosection_wrapper div.donate_div div.amount_div {
    display: block;
    border-top: 1px solid #dfe4e8;
    border-bottom: 1px solid #dfe4e8;
    width: 100%;
    padding: 24px;
    text-align: left;
  }
  section.hero_section div.herosection_wrapper div.donate_div div.amount_div p {
    display: block;
    text-align: left;
  }
  section.hero_section div.herosection_wrapper div.donate_div div.timeperiod_container {
    display: block;
    width: 100%;
    padding: 24px;
    text-align: left;
  }
  section.hero_section div.herosection_wrapper div.donate_div div.timeperiod_container p {
    display: block;
    text-align: left;
  }
  section.hero_section div.herosection_wrapper div.donate_div button.btn {
    width: 80%;
    margin: 0 20px;
  }
}
@media screen and (max-width: 500px) {
  section.hero_section div.herosection_wrapper div.herosection_container {
    margin-bottom: 60px;
  }
  section.hero_section div.herosection_wrapper div.herosection_container a {
    margin-bottom: 15px;
    margin-right: 0;
  }
}
@media screen and (max-width: 325px) {
  section.hero_section div.herosection_wrapper div.herosection_container {
    margin-bottom: 40px;
  }
  section.hero_section div.herosection_wrapper div.herosection_container h4 {
    font-size: 16px;
  }
  section.hero_section div.herosection_wrapper div.herosection_container a {
    font-size: 25px;
  }
}

.clear:after {
  content: "";
  clear: both;
  display: block;
}

.btn {
  color: #fff;
  background-color: #23cf5f;
  border: 1px solid #23cf5f;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  transition: background-color, 0.3s, linear;
  -webkit-transition: background-color, 0.3s, linear;
  -ms-transition: background-color, 0.3s, linear;
  -moz-transition: background-color, 0.3s, linear;
  -o-transition: background-color, 0.3s, linear;
}
.btn:hover {
  background-color: #fff;
  color: #23cf5f;
}

.img_div {
  height: 562px;
  width: 470px;
  display: inline-block;
}

.content {
  vertical-align: top;
  display: inline-block;
  width: 470px;
}
.content p {
  display: inline-block;
  font-size: 22px;
  color: #9aa8b6;
  margin-bottom: 45px;
  line-height: 1.55;
}
.content h6 {
  display: inline-block;
  font-size: 14px;
  color: #3e4c5b;
  margin-bottom: 55px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.content a {
  display: inline-block;
  font-size: 14px;
  color: #23cf5f;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.content a:hover {
  color: #019cc1;
  transition: color, 0.3s, linear;
  -webkit-transition: color, 0.3s, linear;
  -ms-transition: color, 0.3s, linear;
  -moz-transition: color, 0.3s, linear;
  -o-transition: color, 0.3s, linear;
}
.content a:hover span.cta {
  transition: all, 0.2s, linear;
  -webkit-transition: all, 0.2s, linear;
  -ms-transition: all, 0.2s, linear;
  -moz-transition: all, 0.2s, linear;
  -o-transition: all, 0.2s, linear;
  animation-iteration-count: infinite;
  animation-duration: 0.8s;
  animation-name: slide;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: slide;
  -moz-animation-itertaion-count: infinite;
  -moz-animation-duration: 0.8s;
  -moz-animation-name: slide;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 0.8s;
  -o-animation-name: slide;
}
@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20px, 0);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20px, 0);
  }
}
@-moz-keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20px, 0);
  }
}
@-o-keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20px, 0);
  }
}
.content a span {
  display: inline-block;
  margin-left: 20px;
}
.content h2 {
  display: inline-block;
  font-size: 50px;
  color: #3e4c5b;
  margin-bottom: 42px;
}

ul.dropdown_list {
  display: none;
  list-style-type: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 2;
  font-size: 14px;
  font-weight: 600;
  color: #3e4c5b;
  background-color: #fff;
  box-shadow: 2px 2px 10px #3e4c5b;
  -webkit-box-shadow: 2px 2px 10px #3e4c5b;
  -ms-box-shadow: 2px 2px 10px #3e4c5b;
  -moz-box-shadow: 2px 2px 10px #3e4c5b;
  -o-box-shadow: 2px 2px 10px #3e4c5b;
}
ul.dropdown_list li {
  padding: 10px 20px;
  cursor: pointer;
}
ul.dropdown_list li:hover {
  background-color: #dfe4e8;
}

section.projects {
  margin: 160px 0;
}
@media screen and (max-width: 500px) {
  section.projects {
    margin: 100px 0;
  }
}
@media screen and (max-width: 375px) {
  section.projects {
    margin: 70px 0;
  }
}
section.projects div.wrapper {
  width: 100%;
  font-size: 0;
}
section.projects div.wrapper div.img_div {
  float: left;
  background-image: url("../images/blue.png");
  background-repeat: no-repeat;
  -webkit-background-size: 470px 562px;
  -ms-background-size: 470px 562px;
  -moz-background-size: 470px 562px;
  -o-background-size: 470px 562px;
  background-size: 470px 562px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  section.projects div.wrapper div.img_div {
    background-image: url("../images/blue@2x.png");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3), screen and (min--moz-device-pixel-ratio: 3), screen and (-moz-min-device-pixel-ratio: 3), screen and (-o-min-device-pixel-ratio: 3/1), screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  section.projects div.wrapper div.img_div {
    background-image: url("../images/blue@3x.png");
  }
}
section.projects div.wrapper div.content {
  float: right;
}
@media screen and (max-width: 1130px) {
  section.projects div.wrapper div.img_div {
    background: none;
    width: 0;
    height: 0;
  }
  section.projects div.wrapper div.content {
    background: url("../images/blue.png") no-repeat;
    float: none;
    max-width: 960px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  section.projects div.wrapper div.content h2 {
    font-size: 30px;
  }
  section.projects div.wrapper div.content p {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  section.projects div.wrapper div.content {
    width: 280px;
    padding: 20px 10px;
  }
}

section.program {
  margin-bottom: 160px;
}
@media screen and (max-width: 500px) {
  section.program {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 375px) {
  section.program {
    margin-bottom: 70px;
  }
}
section.program div.wrapper {
  width: 100%;
  font-size: 0;
}
section.program div.wrapper div.img_div {
  float: right;
  background-image: url("../images/sea.png");
  background-repeat: no-repeat;
  -webkit-background-size: 470px 562px;
  -ms-background-size: 470px 562px;
  -moz-background-size: 470px 562px;
  -o-background-size: 470px 562px;
  background-size: 470px 562px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  section.program div.wrapper div.img_div {
    background-image: url("../images/sea@2x.png");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3), screen and (min--moz-device-pixel-ratio: 3), screen and (-moz-min-device-pixel-ratio: 3), screen and (-o-min-device-pixel-ratio: 3/1), screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  section.program div.wrapper div.img_div {
    background-image: url("../images/sea@3x.png");
  }
}
section.program div.wrapper div.content {
  float: left;
}
@media screen and (max-width: 1130px) {
  section.program div.wrapper div.img_div {
    background: none;
    width: 0;
    height: 0;
  }
  section.program div.wrapper div.content {
    background: url("../images/sea.png") no-repeat;
    float: none;
    max-width: 960px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  section.program div.wrapper div.content h2 {
    font-size: 30px;
  }
  section.program div.wrapper div.content p {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  section.program div.wrapper div.content {
    width: 280px;
    padding: 20px 10px;
  }
}

section.info {
  margin-bottom: 250px;
}
@media screen and (max-width: 500px) {
  section.info {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 375px) {
  section.info {
    margin-bottom: 70px;
  }
}
section.info div {
  font-size: 0;
}
section.info div div.info_container {
  float: left;
  max-width: 690px;
}
section.info div div.info_container h2 {
  color: #3e4c5b;
  font-size: 50px;
  max-width: 470px;
  margin-bottom: 42px;
}
section.info div div.info_container > p {
  color: #9aa8b6;
  font-size: 22px;
  line-height: 1.55;
  max-width: 470px;
  margin-bottom: 30px;
}
section.info div div.info_container ul {
  list-style-type: none;
  font-size: 0;
}
section.info div div.info_container ul li {
  display: inline-block;
  vertical-align: top;
  width: 230px;
}
section.info div div.info_container ul li span {
  font-size: 80px;
  color: #23cf5f;
}
section.info div div.info_container ul li p {
  font-size: 14px;
  font-weight: bold;
  color: #3e4c5b;
  text-transform: uppercase;
}
section.info div div.hatchlings_saved {
  float: right;
  border: 4px solid #23cf5f;
  width: 370px;
  padding: 105px 70px;
  margin-top: 80px;
}
section.info div div.hatchlings_saved span {
  display: inline-block;
  font-size: 80px;
  color: #23cf5f;
  margin-bottom: 10px;
}
section.info div div.hatchlings_saved p {
  font-size: 22px;
  font-weight: bold;
  color: #3e4c5b;
  text-transform: uppercase;
  width: 215px;
}
@media screen and (max-width: 1136px) {
  section.info div div.info_container {
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  section.info div div.info_container > p {
    margin: 0 auto;
  }
  section.info div div.info_container h2 {
    margin: 0 auto;
  }
  section.info div div.info_container ul {
    text-align: center;
    margin-top: 40px;
  }
  section.info div div.hatchlings_saved {
    display: block;
    float: none;
    margin: 0 auto;
    margin-top: 70px;
  }
}
@media screen and (max-width: 500px) {
  section.info div div.info_container > p {
    font-size: 14px;
  }
  section.info div div.info_container h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  section.info div div.info_container ul li span {
    font-size: 50px;
  }
  section.info div div.hatchlings_saved {
    max-width: 280px;
    padding: 80px 50px;
  }
}

section.carousel div.wrapper {
  width: 100%;
  font-size: 0;
  text-align: center;
  overflow: hidden;
}
section.carousel div.wrapper div.carousel_container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: transform 0.5s linear;
  -webkit-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
}
section.carousel div.wrapper div.carousel_container div.carousel_element {
  margin: 0 auto;
  position: relative;
  flex-basis: 100%;
  flex-shrink: 0;
}
section.carousel div.wrapper div.carousel_container div.carousel_element div.img_div {
  float: left;
  background-image: url("../images/sea.png");
  background-repeat: no-repeat;
  -webkit-background-size: 470px 562px;
  -ms-background-size: 470px 562px;
  -moz-background-size: 470px 562px;
  -o-background-size: 470px 562px;
  background-size: 470px 562px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  section.carousel div.wrapper div.carousel_container div.carousel_element div.img_div {
    background-image: url("../images/sea@2x.png");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3), screen and (min--moz-device-pixel-ratio: 3), screen and (-moz-min-device-pixel-ratio: 3), screen and (-o-min-device-pixel-ratio: 3/1), screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  section.carousel div.wrapper div.carousel_container div.carousel_element div.img_div {
    background-image: url("../images/sea@3x.png");
  }
}
section.carousel div.wrapper div.carousel_container div.carousel_element div.content {
  float: right;
}
@media screen and (max-width: 1130px) {
  section.carousel div.wrapper div.carousel_container div.carousel_element div.img_div {
    background: none;
    width: 0;
    height: 0;
  }
  section.carousel div.wrapper div.carousel_container div.carousel_element div.content {
    background: url("../images/sea.png") no-repeat;
    float: none;
    max-width: 960px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  section.carousel div.wrapper div.carousel_container div.carousel_element div.content h2 {
    font-size: 30px;
  }
  section.carousel div.wrapper div.carousel_container div.carousel_element div.content p {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  section.carousel div.wrapper div.carousel_container div.carousel_element div.content {
    width: 280px;
    padding: 20px 10px;
  }
}
section.carousel div.wrapper ul {
  margin: 100px 0 0;
  list-style-type: none;
  text-align: center;
}
@media screen and (max-width: 375px) {
  section.carousel div.wrapper ul {
    margin: 50px 0 0;
  }
}
section.carousel div.wrapper ul li.bullets {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  margin-right: 25px;
}
section.carousel div.wrapper ul li.bullets:last-child {
  margin-right: 0;
}
section.carousel div.wrapper ul li.bullets.selected div.circle {
  background-color: #23cf5f;
}
section.carousel div.wrapper ul li.bullets div.circle {
  width: 12px;
  height: 12px;
  background-color: #dfe4e8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  text-align: center;
}

section.news {
  margin-top: 163px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  section.news {
    margin-top: 100px;
  }
}
@media screen and (max-width: 375px) {
  section.news {
    margin-top: 70px;
  }
}
section.news div h2 {
  font-size: 50px;
  font-weight: 600;
  text-align: left;
}
section.news div button {
  width: 160px;
  height: 75px;
}
section.news div ul {
  list-style-type: none;
  font-size: 0;
  margin: 65px 0 130px;
  text-align: left;
}
section.news div ul li {
  display: inline-block;
  max-width: 470px;
  margin-right: 226px;
}
section.news div ul li:last-child {
  margin-right: 0;
}
section.news div ul li img {
  width: 470px;
  margin-bottom: 54px;
}
section.news div ul li h6 {
  font-size: 14px;
  color: #3e4c5b;
  font-weight: 600;
  margin-bottom: 55px;
}
section.news div ul li h2 {
  line-height: 1.02;
  font-weight: bold;
  margin-bottom: 26px;
}
section.news div ul li span {
  color: #9aa8b6;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 33px;
  display: inline-block;
}
section.news div ul li p {
  color: #9aa8b6;
  font-size: 22px;
  line-height: 1.55;
  margin-bottom: 50px;
}
section.news div ul li a {
  color: #23cf5f;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
}
section.news div ul li a:hover {
  color: #019cc1;
}
@media screen and (max-width: 1350px) {
  section.news div h2 {
    text-align: center;
    font-size: 30px;
  }
  section.news div ul {
    text-align: center;
  }
  section.news div ul li {
    display: block;
    margin: 0 auto;
  }
  section.news div ul li:last-child {
    margin: 0 auto;
    margin-top: 70px;
  }
  section.news div ul li h6 {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  section.news div button {
    width: 100px;
    height: 40px;
  }
  section.news div ul {
    margin: 50px 0;
  }
  section.news div ul li img {
    width: 250px;
    margin-bottom: 25px;
  }
  section.news div ul li p {
    font-size: 14px;
    padding: 0 20px;
    margin-bottom: 20px;
  }
}

footer {
  padding: 144px 100px 75px;
  font-size: 14px;
  background-color: #f9fcff;
  margin-top: 144px;
}
@media screen and (max-width: 500px) {
  footer {
    padding: 80px 80px 60px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 500px) {
  footer {
    padding: 50px 20px;
  }
}
footer div.newsletter_wrapper {
  margin-bottom: 66px;
}
footer div.newsletter_wrapper h4 {
  font-size: 22px;
  color: #3e4c5b;
  font-weight: 500;
  margin: 0 auto;
  max-width: 480px;
  line-height: 1.73;
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 710px) {
  footer div.newsletter_wrapper h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 325px) {
  footer div.newsletter_wrapper h4 {
    margin-bottom: 50px;
  }
}
footer div.newsletter_wrapper h4 span {
  color: #23cf5f;
  font-weight: bold;
}
footer div.newsletter_wrapper div {
  padding: 0 5px;
  width: 100%;
  border: 1px solid #9aa8b6;
  background-color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  height: 75px;
  font-size: 0;
}
@media screen and (max-width: 500px) {
  footer div.newsletter_wrapper div {
    height: 50px;
  }
}
@media screen and (max-width: 325px) {
  footer div.newsletter_wrapper div {
    border: none;
    background-color: transparent;
    height: auto;
    text-align: center;
  }
}
footer div.newsletter_wrapper div input {
  display: inline-block;
  border: 0;
  width: calc( 100% - 180px);
  background-color: #fff;
  outline: none;
  padding: 10px;
  font-size: 14px;
  text-overflow: ellipsis;
}
footer div.newsletter_wrapper div input::placeholder {
  font-size: 14px;
  color: #61788e;
  text-align: center;
}
@media screen and (max-width: 710px) {
  footer div.newsletter_wrapper div input {
    width: calc( 100% - 100px);
  }
}
@media screen and (max-width: 500px) {
  footer div.newsletter_wrapper div input {
    width: calc( 100% - 70px);
  }
}
@media screen and (max-width: 325px) {
  footer div.newsletter_wrapper div input {
    width: 100%;
    border: 1px solid #9aa8b6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
  }
}
footer div.newsletter_wrapper div button {
  display: inline-block;
  font-size: 14px;
  width: 180px;
  height: 65px;
  margin-top: 4px;
}
@media screen and (max-width: 710px) {
  footer div.newsletter_wrapper div button {
    width: 100px;
  }
}
@media screen and (max-width: 500px) {
  footer div.newsletter_wrapper div button {
    width: 70px;
    height: 40px;
    font-size: 12px;
  }
}
@media screen and (max-width: 325px) {
  footer div.newsletter_wrapper div button {
    margin-top: 15px;
    width: 100%;
  }
}
footer div.footer_container span {
  color: #61788e;
  font-weight: bold;
}
footer div.footer_container p {
  color: #9aa8b6;
  display: inline-block;
}
@media screen and (max-width: 770px) {
  footer div.footer_container p {
    text-align: center;
  }
}
footer div.footer_container div {
  float: right;
}
footer div.footer_container div a {
  display: inline-block;
  text-decoration: none;
  margin-right: 44px;
  color: #9aa8b6;
  font-size: 18px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
footer div.footer_container div a:hover {
  color: #2e7ddf;
}
footer div.footer_container div a.clr:hover {
  color: #c92047;
}
footer div.footer_container div a:last-child {
  margin-right: 0;
}
@media screen and (max-width: 770px) {
  footer div.footer_container div {
    text-align: center;
    float: none;
    margin: 20px 0;
  }
}

/*# sourceMappingURL=style.css.map */
