section{
    &.projects{
        margin: 160px 0;
        @media screen and (max-width: 500px){
            margin: 100px 0;
        }
        @media screen and (max-width: 375px){
            margin: 70px 0 ;
        }
        div{
            &.wrapper{
                width: 100%;
                font-size: 0;
                div{
                    &.img_div{
                        float: left;
                        @include background('../images/blue', 'png',470px ,562px , no-repeat); 
                    }
                }
                div{
                    &.content{
                       float: right;
                    }
                }
                @media screen and (max-width:1130px){
                    div{
                        &.img_div{
                            background:none;
                            width:0;
                            height: 0;
                        }
                    }
                    div{
                        &.content{
                            background:url("../images/blue.png") no-repeat;
                            float:none;
                            max-width: 960px;
                            display: block;
                            margin: 0 auto;
                            padding: 20px;
                            text-align: center;
                            h2{
                                font-size: 30px;
                            }
                            p{
                                font-size: 14px;
                            }

                        }
                    }
                }
                @media screen and (max-width:500px){
                    div{
                        &.content{
                            width: 280px;
                            padding: 20px 10px;

                        }
                    }
                }

            }
        }
    }
    
}