$white: #fff;
$grey :  #425154;
$green: #23cf5f;
$black : #000;
$mildgrey: #dfe4e8;
$dark: #3e4c5b;
$blueygrey:#61788e;
$lightgrey:#9aa8b6;
$red:#c92047;
$blue: #2e7ddf;
$greenish_blue: #f9fcff;
$sea_blue:#019cc1;
$lightblue: #21b0c8;
$bluish:#007cb0;